<html>
  <head>

</head>
  <body>
{% if user == item.author %}
    {% if type == "answer" %}
    <h3>Edit Answer</h3>
      <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="form" value="editAnswer">
                <input type="hidden" name="key" value="{{ item.key.urlsafe }}">   
      <p>Change answer title:</p>
      <div><input type="text" name="title" value="{{item.title}}"></div>
      <p>Updated answer:</p>
      <div><textarea name="content" rows="3" cols="60">{{item.content}}</textarea></div>
      {% if item.imageURL %}    
        <div><a href="{{ item.imageURL}} "><img src="{{ item.imageURL }}"></img></a></div>
        {% endif %}
      <div>Update image: <input type="file" name="image"></div>
      <input type="hidden" name="questionKey" value="{{ question.key.urlsafe }}">
      <div><input type="submit" value="Edit Answer"></div>
    </form>
    {% else %}
    <h3>Edit Question</h3>
      <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="form" value="editQuestion">
        <input type="hidden" name="key" value="{{ item.key.urlsafe }}">    
      <p>Change question title:</p>
      <div><input type="text" name="title" value="{{item.title}}"></div>
      <p>Update tags:
      <input type="checkbox" value="serious" name="tags" {% if "serious" in item.tags %}checked{% endif %}> serious
      <input type="checkbox" value="funny" name="tags" {% if "funny" in item.tags %}checked{% endif %}> funny
      <input type="checkbox" value="weird" name="tags" {% if "weird" in item.tags %}checked{% endif %}> weird
      <input type="checkbox" value="rhetorical" name="tags" {% if "rhetorical" in item.tags %}checked{% endif %}> rhetorical
      <input type="checkbox" value="socratic" name="tags" {% if "socratic" in item.tags %}checked{% endif %}> socratic
      <input type="checkbox" value="impertinent" name="tags" {% if "impertinent" in item.tags %}checked{% endif %}> impertinent
      <input type="checkbox" value="unreasonable" name="tags" {% if "unreasonable" in item.tags %}checked{% endif %}> unreasonable
      </p>
      <p>Update question:</p>
      <div><textarea name="content" rows="3" cols="60">{{ item.content }}</textarea></div>
      {% if item.imageURL %}    
        <div><a href="{{ item.imageURL}} "><img src="{{ item.imageURL }}"></img></a></div>
        {% endif %}
      <div>Update image: <input type="file" name="image"></div>
      <div><input type="submit" value="Edit Question"></div>
    </form>

    {% endif %}
    {% endif %}
        </body>
</html>