<html>
  <head>

</head>
  <body>
    {% if user %}
    <h2>{{ user }}'s Favorites:</h2>
     <h3>Question List:</h3>
      {% for question, upVote, downVote in questionAndVotes %}

        <strong>{{ question.author.nickname }}: {{ question.title }}</strong>
        <div><i>Created: {{question.date}}</i></div>
        <div><i>Last Modified: {{question.modDate}}</i></div>
        <div>Tags: {% for tag in question.tags %} -{{ tag }} {% endfor %}</div>
        <div>Votes: +{{ upVote }}, -{{ downVote }}</div>
              {% autoescape off %}
      <p>{{ question.content|slice:":500"|imagerender}}
      {% endautoescape %}
      {% if question.content|slice:":500" != question.content%}
        <strong><a href="/QuestionDetail?questionKey={{ question.key.urlsafe }}">. . .</a></strong>
      {% endif %}
                {% if question.imageURL %}        
        <div><a href="/Image?questionKey={{ question.key.urlsafe }}"><img src="/Image?questionKey={{ question.key.urlsafe }}"></img></a></div>
          <div>Image permalink:</div><div style="font-size:80%">http://civil-empire-796.appspot.com/Image?questionKey={{ question.key.urlsafe }} </div>      
          {% endif %}
        </p>
      <table><tr><td>
      <form action="/ProcessVote" method="post">
        <input type="hidden" name="key" value="{{ question.key.urlsafe }}">
        <input type="hidden" name="type" value="question">
        <input type="hidden" name="vote" value="up">
        <input type="submit" value="Vote Up">
      </form>
      </td><td>
      <form action="/ProcessVote" method="post">
        <input type="hidden" name="key" value="{{ question.key.urlsafe }}">
        <input type="hidden" name="type" value="question">
        <input type="hidden" name="vote" value="down">
        <input type="submit" value="Vote Down">
      </form>
      </td></tr></table>
        <form action="/AddFavorite" method="post">
        <input type="hidden" name="key" value="{{ question.key.urlsafe }}">
        <input type="hidden" name="action" value="remove">
        <input type="submit" value="Remove from Favorites">
      </form>
      <p><a href="/QuestionDetail?questionKey={{ question.key.urlsafe }}">View Full Question</a> | <a href="/QuestionActivity?questionKey={{ question.key.urlsafe }}">View Question/Answer Activity</a> {% if question.author == user %}| <a href="/Edit?key={{ question.key.urlsafe }}&type=question">Edit Question</a>{% endif %}</p>

      <hr>
    {% endfor %}
          <a href="/">Back to Main Page</a>
    {% endif %}
        </body>
</html>
