<html>
  <head>

</head>
  <body>
    
    <div style="text-align:right"><a href="{{ url }}">{{ url_linktext }}</a></div>

      <br>
        <h1>The Question Forum</h1>
      <h3>Question List:</h3>
      {% for question, upVote, downVote in questionAndVotes %}

        <strong>{{ question.author.nickname }}: {{ question.title }}</strong>
        <div><i>{{question.date}}</i></div>
        <div>Tags: {% for tag in question.tags %} -{{ tag }} {% endfor %}</div>
        <div>Votes: +{{ upVote }}, -{{ downVote }}</div>
      <p>{{ question.content|slice:":500"|urlize|imagerender }}
      {% if question.content|slice:":500" != question.content%}
        <strong><a href="/QuestionDetail?questionKey={{ question.key.urlsafe }}">. . .</a></strong>
      {% endif %}
                {% if question.imageURL %}        
        <div><a href="{{ question.imageURL}} "><img src="{{ question.imageURL }}"></img></a></div>
          {% endif %}
        </p>
      <table><tr><td>
      <form action="/ProcessVote" method="post">
        <input type="hidden" name="key" value="{{ question.key.urlsafe }}">
        <input type="hidden" name="type" value="question">
        <input type="hidden" name="vote" value="up">
        <input type="submit" value="Vote Up">
      </form>
      </td><td>
      <form action="/ProcessVote" method="post">
        <input type="hidden" name="key" value="{{ question.key.urlsafe }}">
        <input type="hidden" name="type" value="question">
        <input type="hidden" name="vote" value="down">
        <input type="submit" value="Vote Down">
      </form>
      </td></tr></table>
      <p><a href="/QuestionDetail?questionKey={{ question.key.urlsafe }}">View Full Question</a> | <a href="/QuestionActivity?questionKey={{ question.key.urlsafe }}">View Question/Answer Activity</a> {% if question.author == user %}| <a href="/Edit?key={{ question.key.urlsafe }}&type=question">Edit Question</a>{% endif %}</p>

      <hr>
    {% endfor %}
          {%if prevLink %}
        <a href="/?offset={{ offset|add:-10 }}">&#60;Prev </a>
          {% endif %}
          {% if nextLink %}
      <a href="/?offset={{ offset }}">Next></a>
             <hr> 
      {% endif %}

    {% if user %}
    <h3>Ask a Question:</h3>
      <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="form" value="question">
      <p>Give your question a title:</p>
      <div><input type="text" name="title"></div>
      <p>Tags:
      <input type="checkbox" value="serious" name="tags"> serious
      <input type="checkbox" value="funny" name="tags"> funny
      <input type="checkbox" value="weird" name="tags"> weird
      <input type="checkbox" value="rhetorical" name="tags"> rhetorical
      <input type="checkbox" value="socratic" name="tags"> socratic
      <input type="checkbox" value="impertinent" name="tags"> impertinent
      <input type="checkbox" value="unreasonable" name="tags"> unreasonable

      
      
      </p>
      <p>What's your question?</p>
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div>Add an image: <input type="file" name="image"></div>
      <div><input type="submit" value="Add a New Question"></div>
    </form>
    {% endif %}


    </body>
</html>