<html>
  <head>
  <link rel="alternate" type="application/rss+xml" title="{{ question.title }} Feed" href="/RSS?question={{ question.key.urlsafe }}" />
</head>
  <body>
          <b>{{ question.author.nickname }}: {{ question.title }}</b>
        <div><i>Created: {{question.date}}</i></div>
        <div><i>Last Modified: {{question.modDate}}</i></div>
        <div>Tags: {% for tag in question.tags %} -{{ tag }} {% endfor %}</div>
        <div>Votes: +{{ questionVotes.0 }}, -{{ questionVotes.1 }}</div>
                              {% autoescape off %}
      <p>{{ question.content|imagerender}}</p>
            {% endautoescape %}
                      {% if question.imageURL %}        
        <div><a href="/Image?questionKey={{ question.key.urlsafe }}"><img src="/Image?questionKey={{ question.key.urlsafe }}"></img></a></div>
          <div>Image permalink:</div><div style="font-size:80%">http://civil-empire-796.appspot.com/Image?questionKey={{ question.key.urlsafe }} </div>      
          {% endif %}
      <p><a href="/">Back to Main Page</a> | <a href="/QuestionActivity?questionKey={{ question.key.urlsafe }}">View Question/Answer Activity</a> {% if question.author == user %}| <a href="/Edit?key={{ question.key.urlsafe }}&type=question">Edit Question</a>{% endif %}</p>
    </body>
</html>