<html>
  <head>

</head>
  <body>
          <b>{{ question.author.nickname }}: {{ question.title }}</b>
                  <div><i>{{question.date}}</i></div>
        <div>Tags: {% for tag in question.tags %} -{{ tag }} {% endfor %}</div>
        <div>Votes: +{{ questionVotes.0 }}, -{{ questionVotes.1 }}</div>
                              {% autoescape off %}
      <p>{{ question.content|imagerender}}</p>
            {% endautoescape %}
                      {% if question.imageURL %}        
        <div><a href="{{ question.imageURL}} "><img src="{{ question.imageURL }}"></img></a></div>
          {% endif %}
      <p><a href="/">Back to Main Page</a> | <a href="/QuestionActivity?questionKey={{ question.key.urlsafe }}">View Question/Answer Activity</a> {% if question.author == user %}| <a href="/Edit?key={{ question.key.urlsafe }}&type=question">Edit Question</a>{% endif %}</p>
    </body>
</html>